<div class="container">

<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
		<input type="search" [(ngModel)]="filterargs.title" placeholder="Search...">
	</div>

	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
		<div class="input-group">
      			<input type="text" class="form-control" #box [(ngModel)]="newTodo" placeholder="New ToDo">
      			<span class="input-group-btn">
        			<button class="btn btn-success" type="button" (click)="addTodo(box.value)"><i class="fa fa-plus" 					aria-hidden="true"></i></button>
      			</span>
		</div>
	</div>
</div>

<div class="row">
<div class="col-md-9 col-md-offset-2">
<form class="form-inline">
  <div class="row" *ngFor="let c of destilled | filter: filterargs | reverse">
	  <div class="checkbox">
	    <label class="checkbox-inline">
	      <input type="checkbox" [checked]="c.completed" (change)="c.completed = !c.completed"><span>{{c.title}}</span>
	    </label>
	  </div>
	  <button class="btn btn-danger" (click)="destroyTodo(c)"><i class="fa fa-trash-o fa-lg"></i></button>
  </div>
</form>
</div>
</div>

</div>
