div.row{
	padding: 15px;
}

div.checkbox span{
	padding-left: 7px;
	padding-right: 7px;
	text-align:middle;
	font-size:25px;
	font-family:arial;
	line-height:22px;
}

input[type=checkbox]:checked + span{
	text-decoration: line-through;
	color:#C6C8CA;
	font-style: italic;
}

input[type=search] {
	width: 25%;
	padding: 12px 20px;
	margin: 8px 0;
	border: none;
    	border-bottom: 3px solid #2A6061;
	font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=search]:focus {
    width: 100%;
}

.input-group{
	padding:25px;
}

input[type=text] {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    padding: 2px 10px 2px 10px;
}

input[type=text]:focus {
    border: 3px solid #555;
}
